*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

#title {
    font-size: 7vh;
}

.gameOutput {
    margin: 5vh 0 5vh 0;
}

.grids {
    width: 100vw;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gridLabels {
    margin: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.computerGrid, .playerGrid {
    display: flex;
    border: 2px black solid;
    height: 35vh;
    aspect-ratio: 1/1;
}

.xGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.square {
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff21;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.square:hover {
    filter: brightness(85%)
}

.controls {
    height: 30vh;
}